/* BODY IS A FLEX CONTAINER */
body {
    display: flex;
    flex-direction: column; /* header, main, footer in a column */
}

/* MAIN IS ALSO A FLEX CONTAINER */
main {
    display: flex;
    flex-direction: row; /* article | aside */
    flex: auto; /* auto height + width */
}

/* ARTICLE AND ASIDE SIZES */
article {
    flex: 2;        /* 2/3 of width */
    overflow-y: auto; 
}

aside {
    flex: 1;        /* 1/3 of width */
    overflow-y: auto;
}

